<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>음식명(kor_name)</th>
      <th>음식명(eng_name)</th>
      <th>탄수화물(g)</th>
      <th>에너지(kcal)</th>
      <th>당류(g)</th>
      <th>지방(g)</th>
      <th>단백질(g)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>배추김치</td>
      <td>bae chu kimchi</td>
      <td>8.31</td>
      <td>36.86</td>
      <td>1.0</td>
      <td>0.6</td>
      <td>2.29</td>
    </tr>
    <tr>
      <th>1</th>
      <td>일반비빔밥</td>
      <td>bibimbap</td>
      <td>19.14</td>
      <td>140.6</td>
      <td>0.69</td>
      <td>5.06</td>
      <td>4.52</td>
    </tr>
  </tbody>
</table>